* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
button2{
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
button2 span{
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
}

.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;

}
h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}
.side-bar{
    width: 80px;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);
    position: absolute;
    right: 0;
    top: 0;
}
.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}
.social-links img, .useful-links img{
    width: 35px;
    margin: 50px auto 0;
    cursor: pointer;
}

    

.bubble img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubble{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}
@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}    

.bubble img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubble img:nth-child(2){
    animation-delay: 1s;
}
.bubble img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubble img:nth-child(4){
    animation-delay: 4.5s;
}
.bubble img:nth-child(5){
    animation-delay: 3s;
    width: 20px;
}
.bubble img:nth-child(5){
    animation-delay: 6s;
}
.bubble img:nth-child(6){
    width: 35px;
    animation-delay: 7s;
}
.active{
    background: green;
}